[flake8]
max-line-length = 220
# E701: one-liner compound statements (intentional)
# E302/E305: 2-blank-line spacing (HTML templates are compact)
# E203: whitespace before ':' in slices (black-compatible)
ignore = E701,E302,E305,E203
exclude = .git,__pycache__
